name: Buildifier
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Triggers workflow for merge queue events
  merge_group:
    types: [checks_requested]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  check:
    name: Buildifier Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: buildifier
        run: bazel run --enable_bzlmod //.github/workflows:buildifier.check
